body{
    margin: 0px;
    width:100%;
    background: linear-gradient(291deg,rgb(99, 223, 228), rgb(99,223,228));
    animation: AnimationName 14s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.container {
    display: grid;
    grid-template-columns: 1fr; /* stands for fractional units*/
}
/* Nav styles*/
.navbar-wrapper {
    margin-top: 10px;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:5px;
}
.left-column{
    display:flex;
    padding-left: 4%;
}
.navbar-wrapper > .left-column > div{
    margin-right: 20px;
    font-size: 1em;
}
.name{
    color:#8a8a8a;
    display: flex;
    margin-right:30px;
}
.nav-link-wrapper {
    height: 25px;
    border-bottom: 1px solid transparent; 
    transition: border-bottom 0.5s;
    margin-left:15px;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
    text-decoration: none;
}
.nav-link-wrapper a:hover {
    color: black;  
    text-decoration: none;     
}
/* The reason we did two of these is the first deals with the line under the nav items and the other deals with the line of text. The
   line of text is given the variable a which we set its color as grey but to change upon hover. Pretty cool, I can also declare the 
   right column as .nav-link-wrapper b and do this with a differnet color, sadly it has no hyperlink attached so it'll lead to nowhere
   upon being clicked*/

/*Portfolio Styles*/
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0em;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper{
    position: absolute;
    top: 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-wrapper img{
    margin-bottom: 20px;
    float: left;
    height: 120px;
    object-fit: center;
}
.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
#who-am-I{
    background-color:whitesmoke;
    opacity:1;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:15px;
}
#who-am-I-text{
    background-color:whitesmoke;
    opacity:0.7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:15px;
    text-align: justify;
    font-size: large;
}
.rounded-img{
    border-radius: 5px;
}
#Linkedin{
    margin-left: 25px;
}
